[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "~=3.0.6"
graphene-django = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
django-email-users = "~=1.1.0"
graphene = "~=2.1.8"
schema = "*"
tracks = "~=0.1.1"

[requires]
python_version = "3.6"
